<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/excel-2000.css"/>
    <title><%= title %> · KSEF</title>
    <style>
        table {
            width: 100%;
        }

        th, td {
            word-wrap: break-word;
            text-align: center;
        }

        tbody.completed tr td {
            background-color: #f2f0e5;
        }
    </style>
</head>

<body>
    <button type="button" onclick="location.href='/manage/sheets/ENDURANCE/2024?mode=all'">전체보기</button>
    <button type="button" onclick="location.href='/manage/sheets/ENDURANCE/2024?mode=incomplete'">미작성(미완 포함)</button>
    <button type="button" onclick="location.href='/manage/sheets/ENDURANCE/2024?mode=complete'">작성완료</button>
    <button type="button" onclick="download()" style="float: right;">다운로드</button>
    <%
        const {teamRegistration} = locals.context;
    %>
    <table id="sheet" border="1" class="ExcelTable2000">
        <thead>
            <tr>
                <th colspan="6"><b>참가 정보</b></th>
                <th colspan="3"><b>팀 정보</b></th>
                <th colspan="3"><b>환불 정보</b></th>
                <th colspan="5"><b>라이더 정보</b></th>
            </tr>
            <tr>
                <!-- 참가 정보 -->
                <th>엔트리</th>
                <th>입금자 명</th>
                <th>소속팀명</th>
                <th>클래스</th>
                <th>이벤트 클래스</th>
                <th>참가기종</th>
                <!-- 팀 정보 -->
                <th>대표 성명</th>
                <th>대표 연락처</th>
                <th>택배수령 주소</th>
                <!-- 환불 정보 -->
                <th>은행명</th>
                <th>예금주</th>
                <th>계좌번호</th>
                <!-- 라이더 정보 -->
                <th></th>
                <th>성명</th>
                <th>주민번호</th>
                <th>연락처</th>
                <th>KIC</th>
            </tr>
        </thead>
        <% teamRegistration.forEach((element, index) => { 
            const {formdata_values} = element;
            const formdata = JSON.parse(formdata_values);
        %>
        <tbody class="<%= element.is_completed === 1 ? 'completed' : '' %>">
            <tr>
                <!-- 참가 정보 -->
                <td rowspan="4"><%= element.team_entry %></td>
                <td rowspan="4"><%= element.team_name %></td>
                <td rowspan="4"><%- formdata.team_name || "&nbsp;" %></td>
                <td rowspan="4"><%- formdata.participation_class || "&nbsp;" %></td>
                <td rowspan="4"><%- formdata.event_class || "&nbsp;" %></td>
                <td rowspan="4"><%- formdata.model_name || "&nbsp;" %></td>
                <!-- 팀 정보 -->
                <td rowspan="4"><%- formdata.team_leader_name || "&nbsp;" %></td>
                <td rowspan="4"><%- formdata.team_leader_contact || "&nbsp;" %></td>
                <td rowspan="4"><%- formdata.delivery_address || "&nbsp;" %></td>
                <!-- 환불 정보 -->
                <td rowspan="4"><%- formdata.refund_bank || "&nbsp;" %></td>
                <td rowspan="4"><%- formdata.refund_holder || "&nbsp;" %></td>
                <td rowspan="4"><%- formdata.refund_account || "&nbsp;" %></td>
                <!-- 라이더1 정보 -->
                <td>1</td>
                <td><%- formdata.rider1_name || "&nbsp;" %></td>
                <td><%- formdata.rider1_RRN || "&nbsp;" %></td>
                <td><%- formdata.rider1_phone || "&nbsp;" %></td>
                <td><%- formdata.rider1_has_KIC || "&nbsp;" %></td>
            </tr>
            <tr>
                <!-- 라이더2 정보 -->
                <td>2</td>
                <td><%- formdata.rider2_name || "&nbsp;" %></td>
                <td><%- formdata.rider2_RRN || "&nbsp;" %></td>
                <td><%- formdata.rider2_phone || "&nbsp;" %></td>
                <td><%- formdata.rider2_has_KIC || "&nbsp;" %></td>
            </tr>
            <tr>
                <!-- 라이더3 정보 -->
                <td>3</td>
                <td><%- formdata.rider3_name || "&nbsp;" %></td>
                <td><%- formdata.rider3_RRN || "&nbsp;" %></td>
                <td><%- formdata.rider3_phone || "&nbsp;" %></td>
                <td><%- formdata.rider3_has_KIC || "&nbsp;" %></td>
            </tr>
            <tr>
                <!-- 라이더4 정보 -->
                <td>4</td>
                <td><%- formdata.rider4_name || "&nbsp;" %></td>
                <td><%- formdata.rider4_RRN || "&nbsp;" %></td>
                <td><%- formdata.rider4_phone || "&nbsp;" %></td>
                <td><%- formdata.rider4_has_KIC || "&nbsp;" %></td>
            </tr>
        </tbody>
        <% }); %>
    </table>
    <script src="/javascripts/xlsx.full.min.js"></script>
    <script>
        function download() {
            var wb = XLSX.utils.table_to_book(document.getElementById("sheet"), {
                sheet: "<%= locals.context.mode %>",
                raw: true,
            });
            XLSX.writeFile(wb, "<%= locals.context.type_keyword %>-<%= locals.context.regist_year %>.xlsx");
        }
    </script>
</body>

</html>