<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <%- include("../partialView/head", { title }); %>
    <%- include("../partialView/stylesheet") %>
</head>

<body id="mainBody" class="position-relative">
    <!-- header -->
    <header id="mainHead">
        <%- include("../navigation/createStackNavigator", { headerTitle: title }) %>
    </header><!-- /END header -->
    <!-- main -->
    <main id="mainContent" class="container">
        <form id="createAccountForm" class="row needs-validation <% if (locals.invalid) { %> was-validated <% } %>"
            method="POST" novalidate>
            <div class="col px-4 pt-2 mt-1">
                <%- include("../components/TextField", {
                    _items: [
                        {
                            mask: "text",
                            name: "username",
                            placeholder: "이름",
                            label: "이름(실명)",
                        },
                        {
                            mask: "text",
                            name: "alias",
                            placeholder: "별명",
                            label: "별명",
                        },
                        {
                            mask: "email",
                            name: "email",
                            placeholder: "이메일",
                            label: "이메일",
                        },
                        {
                            mask: "password",
                            name: "password",
                            placeholder: "비밀번호",
                            label: "비밀번호",
                        },
                        {
                            mask: "password",
                            name: "repeat_password",
                            placeholder: "비밀번호 확인",
                            label: "비밀번호 확인",
                        },
                        {
                            mask: "tel",
                            name: "phone",
                            placeholder: "휴대폰",
                            label: "휴대폰",
                        },
                        {
                            mask: "tel",
                            name: "birth_year",
                            placeholder: "생년월일",
                            label: "생년월일(YYYYMMDD)",
                            style: ["mb-4"],
                        },
                    ],
                });
                %>
            </div>
        </form>
        <h1 class="display-1">&nbsp;</h1>
        <h1 class="display-1">&nbsp;</h1>
    </main><!-- /END main -->
    <!-- .fixed-bottom -->
    <div class="position-fixed fixed-bottom" style="
                    background-image: linear-gradient(
                        0deg,
                        rgba(255, 255, 255, 1) 0%,
                        rgba(255, 255, 255, 1) 80%,
                        rgba(255, 255, 255, 0) 100%
                    );
                ">
        <div class="d-grid p-3">
            <button type="submit" form="createAccountForm" class="btn btn-dark py-2 border-0 rounded-5">
                <span class="d-flex py-2 justify-content-center fw-600">등록</span>
            </button>
        </div>
    </div><!-- /END .fixed-bottom -->
    <%- include("../partialView/javascripts") %>
</body>

</html>