<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <%- include("../partialView/head", { title }); %>
    <%- include("../partialView/stylesheet") %>
</head>

<body id="mainBody" class="position-relative">
    <!-- header -->
    <header id="mainHead">
        <%- include("../navigation/createNavigationContainer") %>
    </header><!-- /END header -->
    <!-- main -->
    <main id="mainContent" class="container">
        <!-- page-header -->
        <div class="row">
            <div class="col px-4">
                <h1 class="page-header d-flex justify-content-center fw-bold mt-5 pt-2 pb-3 mb-1 lh-sm">
                    비밀번호 재설정
                </h1>
            </div>
        </div><!-- /END page-header -->
        <!-- findAccount Form -->
        <form id="findAccount" class="row" method="POST">
            <div class="col px-4">
                <input hidden="hidden" />
                <%- include("../components/TextField", {
                    _items: [
                        {
                            id: "Email",
                            mask: "email",
                            name: "email",
                            placeholder: "이메일",
                            label: "이메일",
                            isRequired: true,
                        }
                    ]
                }) %>
            </div>
        </form><!-- /END findAccount Form -->
    </main><!-- /END main -->
    <!-- .fixed-bottom -->
    <div class="position-fixed fixed-bottom">
        <div class="d-grid p-3">
            <button id="ResetPassword" class="btn btn-dark py-2 border-0 rounded-5">
                <span class="d-flex py-2 justify-content-center fw-600">확인</span>
            </button>
        </div>
    </div><!-- /END .fixed-bottom -->
    <%- include("../partialView/javascripts") %>
    <script>
        async function requireResetPassword(params) {
        const { value: email } = Email;
        if (email === "") return window.alert("이메일을 입력해주세요.");

        let response = await fetch("/api/accounts/find_password", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ email }),
        });
        if (response.status === 400) {
            response = await response.json();
            const { message } = response.details[0]
            return window.alert(message);
        } else if (response.status === 200) {
            window.alert("비밀번호 재설정 메일을 보내드렸습니다.");
        }
    }
    ResetPassword.addEventListener("click", requireResetPassword, false);
    </script>
</body>

</html>