<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <%- include("../partialView/head", { title }); %>
    <%- include("../partialView/stylesheet") %>
</head>

<body id="mainBody" class="position-relative">
    <!-- header -->
    <header id="mainHead">
        <%- include("../navigation/createNavigationContainer") %>
    </header><!-- /END header -->
    <!-- main -->
    <main id="mainContent" class="container">
        <!-- page-header -->
        <div class="row">
            <div class="col px-4">
                <h1 class="page-header d-flex justify-content-center fw-bold mt-5 pt-2 pb-3 mb-1 lh-sm">
                    비밀번호 재설정
                </h1>
            </div>
        </div><!-- /END page-header -->
        <!-- ResetPassword Form -->
        <form id="resetPasswordForm" class="row" method="POST">
            <div class="col px-4">
                <%- include("../components/TextField", {
                    _items: [
                        {
                            mask: "email",
                            name: "email",
                            placeholder: "이메일",
                            label: "이메일",
                            isRequired: true,
                            value: locals.user_email || undefined,
                            readonly: true
                        },
                        {
                            mask: "password",
                            name: "password",
                            placeholder: "비밀번호",
                            label: "비밀번호",
                            isRequired: true,
                        },
                        {
                            mask: "password",
                            name: "repeat_password",
                            placeholder: "비밀번호 확인",
                            label: "비밀번호 확인",
                            isRequired: true,
                        },
                    ]
                }) %>
            </div>
        </form><!-- /END ResetPassword Form -->
    </main><!-- /END main -->
    <!-- .fixed-bottom -->
    <div class="position-fixed fixed-bottom">
        <div class="d-grid p-3">
            <button type="submit" form="resetPasswordForm" class="btn btn-dark py-2 border-0 rounded-5">
                <span class="d-flex py-2 justify-content-center fw-600">재설정</span>
            </button>
        </div>
    </div><!-- /END .fixed-bottom -->
    <%- include("../partialView/javascripts") %>
</body>

</html>