<!DOCTYPE html>
<html lang="ko">
    
    <head>
        <!-- Required meta tags -->
        <%- include("../partialView/head", { title }); %>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round"
            rel="stylesheet"
        />
        <%- include("../partialView/stylesheet") %>
        <style>
            p:has(> img) {
                background-color: red;
            }
            
            img {
                width: 100%;
                height: auto;
            }

            p {
                line-height: 1.7;
                padding-top: 0;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                margin-top: 0;
                margin-bottom: 0;
                word-break: keep-all;
            }

            a {
                word-break: break-all;
                white-space: normal;
            }

            #postContent > p:first-child {
                padding-top: 1.5rem;
            }
        </style>
    </head>

    <body id="mainBody" class="main bg-white">
        <div
            class="w-100 h-100 position-relative"
        >
            <div
                class="jumbotron-fluid overflow-scroll rounded-top-left-xxl rounded-top-right-xxl"
            >
                <div class="w-100 h-100 d-flex flex-column">
                    <div class="d-block position-relative border-bottom">
                        <img src="/images/static/sample.jpg" class="w-100 opacity-0" />
                        <!-- .jumbotron  -->
                        <div
                            class="jumbotron position-absolute top-0 start-0 bottom-0 end-0 overflow-hidden rounded-top-left-xxl rounded-top-right-xxl"
                        >
                            <div class="w-100 h-100 d-flex flex-column">
                                <%- include("../navigation/createStackNavigator", { id: 'lnb', isFixed: true, headerTitle: context.notice && context.notice.notice_title }) %>
                                <div
                                    class="d-flex flex-column position-relative ps-4 pt-3 pe-3 pb-4 flex-fill"
                                >
                                    <div class="position-relative h-100 pe-5">
                                        <div class="position-absolute bottom-0">
                                            <small class="fw-bold pt-2 pb-1"><%= context.category && context.category.category_name %></small>
                                            <h3 class="fw-bold lh-medium ls-medium text-keep">
                                                <%= context.notice && context.notice.notice_title %></h3>
                                            <small class="fs-small fw-normal ls-xs text-secondary"
                                                ><%= context.notice && context.notice.notice_created_at %></small
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /END .jumbotron  -->
                    </div>
                    <!-- main -->
                    <main id="mainContent" class="d-flex flex-column flex-grow-1">
                        <div class="bg-white">
                            <div id="postContent" class="mb-4">
                                <%- include(`./templates/${context.template.template_file}`) %>
                            </div>
                        </div>
                    </main><!-- /END main -->
                </div>
            </div>
        </div>
        <%- include("../partialView/javascripts") %>
        <script>
            // img margin adjustment
            const img = mainContent.getElementsByTagName("img");
            for (let item of img) {
                item.parentNode.classList.add("p-0");
            }

            var header = document.getElementById('lnb');
            var title = document.getElementById('title');
            function scrollFunc() {
                if (pageYOffset >= 50) {
                    header.classList.add("position-fixed", "top-0", "shadow-sm");
                    title.style.visibility = 'visible';
                } else {
                    header.classList.remove("position-fixed", "top-0", "shadow-sm");
                    title.style.visibility = 'hidden';
                }
            }
            if (header)
                window.addEventListener("scroll", scrollFunc);
        </script>
    </body>
</html>
