<!DOCTYPE html>
<html lang="ko">
    
    <head>
        <!-- Required meta tags -->
        <%- include("../partialView/head", { title }); %>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round"
            rel="stylesheet"
        />
        <%- include("../partialView/stylesheet") %>
        <style>
            p:has(> img) {
                background-color: red;
            }
            
            img {
                width: 100%;
                height: auto;
            }

            p {
                line-height: 1.7;
                padding-top: 0;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                margin-top: 0;
                margin-bottom: 0;
                word-break: keep-all;
            }

            a {
                word-break: break-all;
                white-space: normal;
            }

            #postContent > p:first-child {
                padding-top: 1.5rem;
            }
        </style>
    </head>

    <body id="mainBody" class="main bg-white">
        <div
            class="w-100 h-100 position-relative"
        >
            <!-- main -->
            <main id="mainContent" class="d-flex flex-column flex-grow-1">
                <div class="w-100 h-100 d-flex flex-column">
                    <%- include("../navigation/createStackNavigator", { id: 'lnb', isFixed: true, headerTitle: context.notice && context.notice.notice_title }) %>
                </div>
                <div class="bg-white">
                    <div id="postContent" class="mb-4">
                        <%- include(`./templates/${context.template.template_file}`) %>
                    </div>
                </div>
            </main><!-- /END main -->
        </div>
        <% if (context.template.has_shortcut) { %>
        <!-- .fixed-bottom -->
        <div class="position-fixed fixed-bottom" style="
                        background-image: linear-gradient(
                            0deg,
                            rgba(255, 255, 255, 1) 0%,
                            rgba(255, 255, 255, 1) 80%,
                            rgba(255, 255, 255, 0) 100%
                        );
                    ">
            <div class="d-grid p-3">
                <button class="btn btn-dark py-2 border-0 rounded-5" onclick="location.href=`<%= context.template.shortcut_link %>`">
                    <span class="d-flex py-2 justify-content-center fw-600"><%= context.template.shortcut_title %></span>
                </button>
            </div>
        </div><!-- /END .fixed-bottom -->
        <% } %>
        <%- include("../partialView/javascripts") %>
        <script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>
        <script>
            // pan and zoom DOM 
            var element = document.querySelector('#postContent');
            panzoom(element, {
                minZoom: 1,
                beforeWheel: function(e) {
                    var shouldIgnore = !e.altKey;
                    return shouldIgnore;
                }
            });
            
            // img margin adjustment
            const img = mainContent.getElementsByTagName("img");
            for (let item of img) {
                item.parentNode.classList.add("p-0");
            }

            var header = document.getElementById('lnb');
            function scrollFunc() {
                if (pageYOffset >= 50) {
                    header.classList.add("position-fixed", "top-0", "shadow-sm");
                } else {
                    header.classList.remove("position-fixed", "top-0", "shadow-sm");
                }
            }
            if (header)
                window.addEventListener("scroll", scrollFunc);
        </script>
    </body>
</html>
