<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <%- include("../partialView/head", { title }); %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap" rel="stylesheet" />
    <%- include("../partialView/stylesheet") %>
</head>

<body id="mainBody" class="position-relative">
    <!-- header -->
    <header id="mainHead">
        <%- include("../navigation/createModalStackNavigator", { headerTitle: title }) %>
    </header><!-- /END header -->
    <!-- main -->
    <main id="mainContent" class="container">
        <div class="row">
            <div class="col px-4">
                <div class="card bg-transparent border-0 border-bottom border-1 border-gray-200 rounded-0">
                    <div class="card-body px-0 py-3 d-flex flex-column mb-2">
                        <small class="card-text fs-7 fw-normal lh-1 mb-2 text-secondary">2021년 11회 MOTOSTAR</small>
                        <h5 class="card-title fw-bolder text-black mb-0">
                            KSEF 내구페스티발 1차 접수
                        </h5>
                        <h6 class="fw-normal lh-1 mt-2 text-black">
                            <span class="mark position-relative">1월 29일 오전 11시부터 24시까지</span>
                        </h6>
                        <div class="pt-3">
                            <div class="position-relative">
                                <p class="card-text text-black ls-xs mb-0">
                                    1차 참가 접수비
                                </p>
                                <p class="d-flex align-items-end">
                                    <span class="d-flex display-4 ls-medium font-Exo2">
                                        80
                                    </span>
                                    <span class="h5 ps-1 lh-1">만원</span>
                                </p>
                            </div>
                        </div>
                        <div class="alert alert-secondary px-4 py-2 lh-xlarge small ls-xs border-transparent bg-gray-100 text-dark fw-normal mb-0"
                            role="alert">
                            1차 이후 참가접수비는 상향됩니다.
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent border-0 border-bottom border-1 border-gray-200 rounded-0 mt-3 pt-1">
                    <div class="card-body px-0 py-3 d-flex flex-column mb-2">
                        <small class="card-text fs-7 fw-normal lh-1 mb-2 text-secondary">2021년 11회 MOTOSTAR</small>
                        <h5 class="card-title fw-bolder text-black">
                            KSEF 내구페스티발 참가 신청서
                        </h5>
                        <div class="pt-3">
                            <div class="position-relative">
                                <p class="card-text lh-large mb-0 text-black">
                                    입금 후 엔트리가 확정되면<br />
                                    신청서를 작성하실 수 있습니다.
                                </p>
                                <a href="registration/view/<%= context.types.find(element => element.type_keyword === 'ENDURANCE').type_id %>"
                                    class="btn btn-primary position-absolute end-0 top-0 px-4 py-2 border-0 bg-info rounded-5"><span
                                        class="d-flex py-1 fw-600">작성하기</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("../partialView/javascripts") %>
</body>

</html>