<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <%- include("../partialView/head", { title }); %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap" rel="stylesheet" />
    <%- include("../partialView/stylesheet") %>
</head>

<body id="mainBody" class="position-relative">
    <!-- header -->
    <header id="mainHead">
        <%- include("../navigation/createModalStackNavigator", { headerTitle: title, referrer: '/' }) %>
    </header><!-- /END header -->
    <!-- main -->
    <main id="mainContent" class="container">
        <div class="row">
            <div class="col px-4">
                <div class="card bg-transparent border-0 border-bottom border-1 border-gray-200 rounded-0">
                    <div class="card-body px-0 py-3 d-flex flex-column mb-2">
                        <small class="card-text fs-7 fw-normal lh-1 mb-2 text-secondary">2021년 11회 MOTOSTAR</small>
                        <h5 class="card-title fw-bolder text-black mb-0">
                            KSEF 내구페스티발 2차 접수
                        </h5>
                        <h6 class="fw-normal lh-1 mt-2 text-black">
                            <span class="mark position-relative">2월 26일 오전 11시부터 24시까지</span>
                        </h6>
                        <div class="pt-3">
                            <div class="position-relative">
                                <p class="card-text text-black ls-xs mb-0">
                                    2차 참가 접수비
                                </p>
                                <p class="d-flex align-items-end">
                                    <span class="d-flex display-4 ls-medium font-Exo2">
                                        90
                                    </span>
                                    <span class="h5 ps-1 lh-1">만원</span>
                                </p>
                                <a href="#"
                                    class="btn position-absolute end-0 top-2 px-4 py-2 border-0 bg-gray-200 rounded-5"><span
                                        class="d-flex py-1 fw-600 text-secondary">접수 예정</span></a>
                            </div>
                        </div>
                        <div class="alert alert-secondary px-4 py-2 lh-xlarge small ls-xs border-transparent bg-gray-100 text-dark fw-normal mb-0"
                            role="alert">
                            2차 이후 참가접수비는 상향됩니다.
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent border-0 border-bottom border-1 border-gray-200 rounded-0">
                    <div class="card-body px-0 py-3 d-flex flex-column mb-2">
                        <small class="card-text fs-7 fw-normal lh-1 mb-2 text-secondary">2021년 11회 MOTOSTAR</small>
                        <h5 class="card-title fw-bolder text-black mb-0">
                            KSEF 내구페스티발 1차 접수
                        </h5>
                        <h6 class="fw-normal lh-1 mt-2 text-black">
                            <span class="mark position-relative">1월 29일 오전 11시부터 24시까지</span>
                        </h6>
                        <div class="pt-3">
                            <div class="position-relative">
                                <p class="card-text text-black ls-xs mb-0">
                                    1차 참가 접수비
                                </p>
                                <p class="d-flex align-items-end">
                                    <span class="d-flex display-4 ls-medium font-Exo2">
                                        80
                                    </span>
                                    <span class="h5 ps-1 lh-1">만원</span>
                                </p>
                                <a href="/entry"
                                    class="btn btn-primary position-absolute end-0 top-2 px-4 py-2 border-0 bg-info rounded-5"><span
                                        class="d-flex py-1 fw-600">엔트리 확인</span></a>
                            </div>
                        </div>
                        <div class="alert alert-secondary px-4 py-2 lh-xlarge small ls-xs border-transparent bg-gray-100 text-dark fw-normal mb-0"
                            role="alert">
                            1차 이후 참가접수비는 상향됩니다.
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent border-0 border-bottom border-1 border-gray-200 rounded-0 mt-3 pt-1">
                    <div class="card-body px-0 py-3 d-flex flex-column mb-2">
                        <small class="card-text fs-7 fw-normal lh-1 mb-2 text-secondary">2021년 11회 MOTOSTAR</small>
                        <h5 class="card-title fw-bolder text-black mb-0">
                            KSEF 내구페스티발 참가 팀 선택
                        </h5>
                        <h6 class="fw-normal lh-1 mt-2 text-black">
                            <span class="position-relative">참가팀명은 입금자명과 동일합니다.</span>
                        </h6>
                        <div class="pt-3">
                            <div class="position-relative">
                                <p class="card-text text-black ls-xs mb-0">
                                    참가팀
                                </p>
                                <p class="d-flex align-items-end mb-0">
                                    <span class="d-flex fs-3 ls-medium fw-bold">
                                        <%= context.team ? context.team.team_name : "미선택" %>
                                    </span>
                                </p>
                                <% if (context.team) { %>
                                    <a href="#"
                                        class="btn position-absolute end-0 top-2 px-4 py-2 border-0 bg-gray-100 rounded-5"><span
                                            class="d-flex py-1 fw-600 text-secondary">선택 완료</span></a>
                                <% } else { %>
                                    <a href="/accounts/register_team"
                                        class="btn btn-primary position-absolute end-0 top-2 px-4 py-2 border-0 bg-info rounded-5"><span
                                            class="d-flex py-1 fw-600">팀 선택</span></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent border-0 rounded-0 mt-3 pt-1">
                    <div class="card-body px-0 py-3 d-flex flex-column mb-2">
                        <small class="card-text fs-7 fw-normal lh-1 mb-2 text-secondary">2021년 11회 MOTOSTAR</small>
                        <h5 class="card-title fw-bolder text-black">
                            KSEF 내구페스티발 참가 신청서
                        </h5>
                        <div class="pt-3">
                            <div class="position-relative">
                                <p class="card-text lh-large mb-0 text-black">
                                    <br />
                                    <br />
                                </p>
                                <%
                                    const { type_id } = context.types.find(
                                        (element) => element.type_keyword === "ENDURANCE"
                                    );
                                    let participation_id = undefined;
                                    if (context.registration) {
                                        participation_id = context.registration.find(
                                            (element) => element.type_keyword === "ENDURANCE"
                                        ).participation_id;
                                    }
                                    let href = '';
                                    if (participation_id) {
                                        href = `registration/view/${type_id}`;
                                    } else href = `registration/form/${type_id}`;

                                %>
                                <a href="<%= href %>"
                                    class="btn btn-primary position-absolute end-0 top-0 px-4 py-2 border-0 bg-info rounded-5"><span
                                        class="d-flex py-1 fw-600"><%= participation_id ? "보기 / 수정" : "작성하기" %></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("../partialView/javascripts") %>
    <script>
        history.pushState(null, null, location.href);
    </script>
</body>

</html>