<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <%- include("../../partialView/head", { title }); %>
        <%- include("../../partialView/stylesheet") %>
</head>

<body id="mainBody" class="position-relative">
    <%
        const formdata = locals.context.formdata || {};
        const participation_class = formdata.participation_class;
        const event_class = formdata.event_class;
        const keys = Object.keys(formdata);
        let riders = [];
        keys.forEach((element) => {
            const rider = element.split('_')[0].includes('rider');
            if (rider) {
                const id = element.substring(5, 6);
                riders.push(Number(id));
            }
        });
        riders = Array.from(new Set(riders)); // deduplication
        const user_name = context.user.name;
    %>
    <!-- header -->
    <header id="mainHead">
        <%- include("../../navigation/createStackNavigator", { headerTitle: title }) %>
    </header><!-- /END header -->
    <!-- main -->
    <main id="mainContent" class="container">
        <form id="createRegistrationForm" method="POST">
            <div class="row">
                <!-- 참가 정보 -->
                <div class="col px-4 pt-2 mt-1">
                    <p class="fw-bold fs-6 mb-2 py-2 lh-sm ls-medium">
                        <span class="mark position-relative">참가 정보</span>
                    </p>
                    <!-- 참가 기종 -->
                    <%- include("../../components/TextField", { _items: [ { mask: "text" , name: "model_name" ,
                        placeholder: "참가기종" , label: "참가기종(모델명)" , isRequired: true, value: formdata.model_name &&
                        formdata.model_name }, ], }); %>
                        <!-- /END 참가 기종 -->
                        <!-- 클래스 선택 -->
                        <small class="d-flex fs-7 fw-600 lh-1 mb-2 text-secondary mt-4">정규 클래스를 선택해주세요</small>
                        <h5 class="fs-6 mb-3 fw-600">정규 클래스 선택 (필수)</h5>
                        <div class="row g-1 btn-group">
                            <div class="col-6">
                                <div class="d-grid">
                                    <input type="radio" class="btn-check" name="participation_class" id="btnradio1"
                                        autocomplete="off" value="고구려 프로" <%=(participation_class==="고구려 프로" )
                                        ? "checked" : "" %> required/>
                                    <label
                                        class="btn btn-outline-dark btn-lg rounded-0 position-relative border-gray-100"
                                        for="btnradio1">
                                        <small class="text-gray-600 fw-normal lh-base fs-6">고구려 프로</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <input type="radio" class="btn-check" name="participation_class" id="btnradio2"
                                        autocomplete="off" value="XRT 어드밴스드" <%=(participation_class==="XRT 어드밴스드" )
                                        ? "checked" : "" %> />
                                    <label
                                        class="btn btn-outline-dark btn-lg rounded-0 position-relative border-gray-100"
                                        for="btnradio2">
                                        <small class="text-gray-600 fw-normal lh-base fs-6">XRT 어드밴스드</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <input type="radio" class="btn-check" name="participation_class" id="btnradio3"
                                        autocomplete="off" value="메첼러 퍼스트" <%=(participation_class==="메첼러 퍼스트" ) ? "checked"
                                        : "" %> />
                                    <label
                                        class="btn btn-outline-dark btn-lg rounded-0 position-relative border-gray-100"
                                        for="btnradio3">
                                        <small class="text-gray-600 fw-normal lh-base fs-6">메첼러 퍼스트</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <input type="radio" class="btn-check" name="participation_class" id="btnradio4"
                                        autocomplete="off" value="엘프 뉴트로" <%=(participation_class==="엘프 뉴트로" ) ? "checked"
                                        : "" %> />
                                    <label
                                        class="btn btn-outline-dark btn-lg rounded-0 position-relative border-gray-100"
                                        for="btnradio4">
                                        <small class="text-gray-600 fw-normal lh-base fs-6">엘프 뉴트로</small>
                                    </label>
                                </div>
                            </div>
                        </div><!-- /END 클래스 선택 -->
                        <!-- 이벤트 클래스 선택 -->
                        <small class="d-flex fs-7 fw-600 lh-1 mb-2 text-secondary mt-4">이벤트 클래스를 선택해주세요</small>
                        <h5 class="fs-6 mb-3 fw-600">이벤트 클래스 선택 (선택)</h5>
                        <div class="row g-1 btn-group w-100">
                            <div class="col-6">
                                <div class="d-grid">
                                    <input type="radio" class="btn-check" name="event_class" id="btnradio5"
                                        autocomplete="off" value="310" <%=(event_class==="310" )
                                        ? "checked" : "" %> />
                                    <label
                                        class="btn btn-outline-dark btn-lg rounded-0 position-relative border-gray-100"
                                        for="btnradio5">
                                        <small class="text-gray-600 fw-normal lh-base fs-6">310</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <input type="radio" class="btn-check" name="event_class" id="btnradio6"
                                        autocomplete="off" value="쏠로" <%=(event_class==="쏠로" ) ? "checked"
                                        : "" %> />
                                    <label
                                        class="btn btn-outline-dark btn-lg rounded-0 position-relative border-gray-100"
                                        for="btnradio6">
                                        <small class="text-gray-600 fw-normal lh-base fs-6">쏠로</small>
                                    </label>
                                </div>
                            </div>
                        </div><!-- /END 이벤트 클래스 선택 -->
                </div><!-- /END 참가 정보 -->
            </div>
            <div class="row">
                <!-- 팀 정보 -->
                <div class="col px-4 pt-2 mt-1">
                    <p class="fw-bold fs-6 mb-2 py-2 lh-sm ls-medium">
                        <span class="mark position-relative">팀 정보</span>
                    </p>
                    <%- include("../../components/TextField", { _items: [ { mask: "text" , name: "team_name" ,
                        placeholder: "소속팀명" , label: "소속팀명" , isRequired: true, value: formdata.team_name &&
                        formdata.team_name }, ], }); %>
                        <div class="row g-2 my-0">
                            <div class="col-5 m-0">
                                <%- include("../../components/TextField", { _items: [ { mask: "text" ,
                                    name: "team_leader_name" , placeholder: "팀 대표 성명" , label: "팀 대표 성명" ,
                                    isRequired: true, value: formdata.team_leader_name && formdata.team_leader_name
                                    }, ], }); %>
                            </div>
                            <div class="col-7 m-0">
                                <%- include("../../components/TextField", { _items: [ { mask: "tel" ,
                                    name: "team_leader_contact" , placeholder: "팀 대표 연락처" , label: "팀 대표 연락처" ,
                                    isRequired: true, value: formdata.team_leader_contact &&
                                    formdata.team_leader_contact }, ], }); %>
                            </div>
                        </div>
                        <%- include("../../components/TextField", { _items: [ { mask: "text" ,
                            name: "delivery_address" , placeholder: "택배수령 주소" , label: "택배수령 주소" , isRequired: true,
                            value: formdata.delivery_address && formdata.delivery_address }, ], }); %>
                </div><!-- /END 팀 정보 -->
            </div>
            <div class="row">
                <!-- 환불 정보 입력 -->
                <div class="col px-4 pt-2 mt-1">
                    <p class="fw-bold fs-6 mb-0 py-2 lh-sm ls-medium">
                        <span class="mark position-relative">환불정보 입력</span>
                    </p>
                    <p class="fs-7 pt-2 pb-1 mb-2 text-secondary text-keep">
                        엔트리 초과시에만 환불되며, 참가접수 이후 환불/양도 불가능합니다.
                    </p>
                    <div class="row g-2 my-0">
                        <div class="col m-0">
                            <%- include("../../components/TextField", { _items: [ { mask: "text" ,
                                name: "refund_bank" , placeholder: "은행명" , label: "은행명" , isRequired: true, value:
                                formdata.refund_bank && formdata.refund_bank }, ], }); %>
                        </div>
                        <div class="col m-0">
                            <%- include("../../components/TextField", { _items: [ { mask: "text" ,
                                name: "refund_holder" , placeholder: "예금주" , label: "예금주" , isRequired: true, value:
                                formdata.refund_holder && formdata.refund_holder }, ] }); %>
                        </div>
                    </div>
                    <%- include("../../components/TextField", { _items: [ { mask: "text" , name: "refund_account" ,
                        placeholder: "계좌번호" , label: "계좌번호" , isRequired: true, value: formdata.refund_account &&
                        formdata.refund_account }, ], }); %>
                </div><!-- /END 환불 정보 입력 -->
            </div>
            <div class="row">
                <!-- 라이더 정보 입력 -->
                <div class="col px-4 pt-2 mt-1">
                    <p class="fw-bold fs-6 mb-0 py-2 lh-sm ls-medium">
                        <span class="mark position-relative">라이더 정보</span>
                    </p>
                    <p class="fs-7 pt-2 pb-1 mb-3 text-secondary text-keep">
                        아래의 버튼을 클릭하여, 라이더를 추가해주세요.
                    </p>
                    <div id="Riders">
                        <% riders.forEach(element=> {
                            const id = element;
                            const rider_name = formdata[`rider${id}_name`];
                            const origin = formdata[`rider${id}_RRN`];
                            %>
                            <div class="Rider mb-3 position-relative" data-id="<%= id %>">
                                <h5 class="fs-6 mb-3 fw-600 pt-3 number">라이더 </h5>
                                <button type="button"
                                    class="btn mb-0 pt-3 px-0 lh-1 h6 fw-normal text-decoration-underline text-gray-600 position-absolute top-0 end-0"
                                    onclick="removeRider(this)">삭제하기</button>
                                <div class="row g-2 my-0">
                                    <div class="col-5 m-0">
                                        <%- include("../../components/TextField", { _items: [ { mask: "text" , name:
                                            `rider${id}_name`, placeholder: "성명" , label: "성명" , isRequired: true,
                                            value: formdata[`rider${id}_name`] }, ], }); %>
                                    </div>
                                    <div class="col-7 m-0">
                                        <%- include("../../components/TextField", { _items: [ { mask: "tel" , name:
                                            `rider${id}_phone`, placeholder: "연락처" , label: "연락처" , isRequired:
                                            true, value: formdata[`rider${id}_phone`] }, ] }); %>
                                    </div>
                                </div>
                                <% let rider_RRN=origin; let is_right=true; if (user_name !==rider_name) {
                                    rider_RRN=maskingRRN(origin); is_right=false; } %>
                                    <%- include("../../components/TextField", { _items: [ { id: `rider${id}_RRN`,
                                        mask: "text" , name: `rider${id}_RRN`, placeholder: "주민번호" , label: "주민번호" ,
                                        isRequired: true, value: rider_RRN, readonly: (is_right ? false : true),
                                        dataset: [{ name: 'rrn' , value: origin }] }, ], }); %>
                                        <div class="pb-2 mb-1">
                                            <h5 class="fs-6 pt-2 mt-1 mb-3 fw-600 text-gray-300">KIC 라이선스 유무 (필수)
                                            </h5>
                                            <div class="row g-1 btn-group w-100">
                                                <div class="col-6">
                                                    <div class="d-grid">
                                                        <input type="radio" class="btn-check"
                                                            name="rider<%= id %>_has_KIC"
                                                            id="btnradio<%= id * 10 %>" autocomplete="off" value="Y"
                                                            <%=(formdata[`rider${id}_has_KIC`]==="Y" ) ? "checked"
                                                            : "" %> required>
                                                        <label
                                                            class="btn btn-outline-dark btn-lg rounded-0 position-relative border-gray-100"
                                                            for="btnradio<%= id * 10 %>">
                                                            <small class="text-gray-600 fw-normal lh-base fs-6">소지
                                                                함</small>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="d-grid">
                                                        <input type="radio" class="btn-check"
                                                            name="rider<%= id %>_has_KIC"
                                                            id="btnradio<%= id * 10 + 1 %>" autocomplete="off"
                                                            value="N" <%=(formdata[`rider${id}_has_KIC`]==="N" )
                                                            ? "checked" : "" %>>
                                                        <label
                                                            class="btn btn-outline-dark btn-lg rounded-0 position-relative border-gray-100"
                                                            for="btnradio<%= id * 10 + 1 %>">
                                                            <small class="text-gray-600 fw-normal lh-base fs-6">소지하지
                                                                않음</small>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pb-2 mb-1">
                                            <h5 class="fs-6 pt-2 mt-1 mb-3 fw-600 text-gray-300">경기이력과 순위 (선택)</h5>
                                            <textarea name="rider<%= id %>_history"
                                                class="form-control bg-transparent rounded-0 border-1 p-2 fs-6 mb-0 border-gray-200"
                                                style="height: 100px">
                                                <%= formdata[`rider${id}_history`] %>
                                            </textarea>
                                        </div>
                            </div>
                            <% }); %>
                    </div>
                    <button id="AddItem" class="btn bg-gray-100 small rounded-5 w-100" type="button">
                        <small class="text-secondary fw-normal">라이더 추가하기</small>
                    </button>
                </div>
                <!-- /END 라이더 정보 입력 -->
            </div>
        </form>
        <h1 class="display-1">&nbsp;</h1>
        <h1 class="display-1">&nbsp;</h1>
    </main>
    <!-- .fixed-bottom -->
    <div class="position-fixed fixed-bottom" style="
                background-image: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(255, 255, 255, 1) 80%,
                    rgba(255, 255, 255, 0) 100%
                );
            ">
        <div class="d-grid p-3">
            <button type="submit" form="createRegistrationForm" class="btn btn-dark py-2 border-0 rounded-5">
                <span class="d-flex py-2 justify-content-center fw-600">등록</span>
            </button>
        </div>
    </div><!-- /END .fixed-bottom -->
    <%- include("../../partialView/javascripts") %>
    <script src="/javascripts/registration/form.js"></script>
</body>

</html>